<DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>RC Helper Engine - Inbound Files</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/dataTables.bootstrap4.min.css}" rel="stylesheet" />

<script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/dataTables.bootstrap4.min.js}"></script>

<script>
	// Basic example
	$(document).ready(function() {
		$('#dtBasicExample').DataTable({
			"pagingType" : "simple" // "simple" option for 'Previous' and 'Next' buttons only
		});
		$('.dataTables_length').addClass('bs-select');
	});
</script>
</head>
<body>
	<div class="container my-2">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">RC Helper Engine</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a th:href="@{/getPauseProcess}">RC
							Pause Process</a></li>
					<li class="active"><a th:href="@{/inboundFileDetails}">Inbound
							File Details</a></li>
				</ul>
			</div>
		</nav>
		<div>
			<h3>
				<span th:text="${response}"> response</span>
			</h3>
		</div>
	</div>

</body>
</html>